@charset "UTF-8";

body {
	background-color: rgb(255, 250, 245);
	font-family: Georgia, serif;
}

h1 {
	display: flex;
	justify-content: center;
}

label {
	display: inline-block;
	width: 100px;
	text-align: left;
}

input {
	text-indent: 2px;
	border-width: 1px;
	border-radius: 5px;
}

.loginInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	border: none;
}

.loginInfo {
	text-align: center;
}

.login {
	text-align: center;
	border: none;
}

.user, .pass {
	margin-bottom: 10px;
}

#prompt {
	color: red;
}

#login {
	padding: 10px 20px;
	border-width: 1px;
	border-radius: 5px;
}

